<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.farmseye.environment.mapper.EnvironmentMapper">

    <resultMap id="env" type="EnvironmentDTO">
        <id     column="EYE_NUM"    property="eyeNum"/>
        <result column="TEMP"       property="temp"/>
        <result column="HUMI"       property="humi"/>
        <result column="NO2"        property="no2"/>
        <result column="CO2"        property="co2"/>
        <result column="NH3"        property="nh3"/>
        <result column="H2S"        property="h2s"/>
        <result column="TOLUENE"    property="toluene"/>
        <result column="ILLUMI"     property="illumi"/>
        <result column="TIMESTAMP"  property="timestamp"/>
        <result column="USER_ID"    property="userId"/>
    </resultMap>

    <!--내부 시설 조회-->
    <select id="selectEnv" resultMap="env">
        SELECT
            EYE_NUM
            , TEMP
            , HUMI
            , NO2
            , CO2
            , NH3
            , H2S
            , TOLUENE
            , ILLUMI
            , TIMESTAMP
            , USER_ID
        FROM farmseye_env
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectNowEnv" resultMap="env">
        SELECT
            EYE_NUM
            , TEMP
            , HUMI
            , NO2
            , CO2
            , NH3
            , H2S
            , TOLUENE
            , ILLUMI
            , TIMESTAMP
            , USER_ID
        FROM farmseye_env
        WHERE USER_ID = 'user'
        ORDER BY TIMESTAMP DESC
        LIMIT 1;
    </select>


</mapper>































