<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.farmseye.stock.mapper.StockMapper">

    <resultMap id="stock" type="StockDTO">
        <result column="STOCK_NUM" property="stockNum"/>
        <result column="INDIVIDUAL_NUM" property="individualNum"/>
        <result column="WAREHOUSING" property="warehousing"/>
        <result column="SHIPMENT" property="shipment"/>
        <result column="STOCK_WEIGHT" property="stockWeight"/>
        <result column="DEATH_STOCK" property="deathStock"/>
        <result column="REG_DATE" property="regDate"/>
        <result column="USER_ID" property="userId"/>
    </resultMap>

    <!--개체 조회-->
    <select id="selectStock" resultMap="stock">
        SELECT STOCK_NUM
        , INDIVIDUAL_NUM
        , WAREHOUSING
        , SHIPMENT
        , STOCK_WEIGHT
        , DEATH_STOCK
        , USER_ID
        , REG_DATE
        FROM farmseye_chi
    </select>

    <!--개체 등록-->
    <insert id="insertStock">
        INSERT INTO farmseye_chi
        (
        STOCK_NUM
        , INDIVIDUAL_NUM
        , WAREHOUSING
        , SHIPMENT
        , STOCK_WEIGHT
        , DEATH_STOCK
        , USER_ID
        ) VALUES (
        #{stockNum}
        , #{individualNum}
        , #{warehousing}
        , #{shipment}
        , #{stockWeight}
        , #{deathStock}
        , #{userId}
        )
    </insert>

    <update id="updateStock">
        UPDATE FARMSEYE_CHI
        SET
        INDIVIDUAL_NUM = #{individualNum}
        , WAREHOUSING = #{warehousing}
        , SHIPMENT = #{shipment}
        , STOCK_WEIGHT = #{stockWeight}
        , DEATH_STOCK = #{deathStock}
        WHERE STOCK_NUM = #{stockNum}
    </update>
</mapper>































