<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.farmseye.user.mapper.UserMapper">

    <resultMap id="user" type="UserDTO">
        <id     column="USER_ID"    property="userId"/>
        <result column="USER_PW"    property="userPw"/>
        <result column="USER_NAME"  property="userName"/>
        <result column="USER_AGE"   property="userAge"/>
        <result column="USER_TEL"   property="userTel"/>
        <result column="USER_EMAIL" property="userEmail"/>
        <result column="USER_ADDR"  property="userAddr"/>
        <result column="REG_DATE"   property="regDate"/>
        <result column="IS_USING"   property="isUsing"/>
        <result column="USER_ROLE"  property="userRole"/>
        <collection property="imgList" resultMap="userImg"/>
    </resultMap>

    <resultMap id="userImg" type="UserImgDTO">
        <id     column="IMG_CODE"           property="imgCode"/>
        <result column="ORIGIN_FILE_NAME"   property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="USER_ID"            property="userId"/>
    </resultMap>

    <!--회원 정보 조회-->
    <select id="selectUser" resultMap="user">
        SELECT U.USER_ID
        , U.USER_PW
        , U.USER_NAME
        , U.USER_AGE
        , U.USER_TEL
        , U.USER_EMAIL
        , U.USER_ADDR
        , U.REG_DATE
        , U.IS_USING
        , U.USER_ROLE
        , I.ORIGIN_FILE_NAME
        , I.ATTACHED_FILE_NAME
        FROM FARMSEYE_USER U
        LEFT JOIN USER_IMG I ON U.USER_ID = I.USER_ID
    </select>

    <!--회원 정보 수정-->
    <update id="updateUser">
        UPDATE FARMSEYE_USER
        SET
        <if test='!userPw.equals("")'>
            USER_PW = #{userPw} ,
        </if>
         USER_TEL = #{userTel}
        , USER_EMAIL = #{userEmail}
        , USER_ADDR = #{userAddr}
        , IS_USING = #{isUsing}
        WHERE USER_ID = #{userId}
    </update>

    <!--회원 가입-->
    <insert id="join">
        INSERT INTO FARMSEYE_USER
        (
            USER_ID
            , USER_PW
            , USER_NAME
            , USER_TEL
            , USER_EMAIL
            , USER_ADDR
            , USER_ROLE
        ) VALUES(
            #{userId}
            , #{userPw}
            , #{userName}
            , #{userTel}
            , #{userEmail}
            , #{userAddr}
            , #{userRole}
        )
    </insert>

    <!--회원 정보 삭제-->
    <delete id="deleteUser">
        DELETE FROM FARMSEYE_USER
        WHERE USER_ID = #{userId}
    </delete>

    <!--회원 탈퇴-->
    <update id="deactivateUser">
        UPDATE FARMSEYE_USER
        SET
            IS_USING = 'N'
        WHERE USER_ID = #{userId}
        AND IS_USING = 'Y'
    </update>


    <!--회원 이미지 등록-->
    <insert id="insertImgs">
        INSERT INTO USER_IMG (
        ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , USER_ID
        ) VALUES (
        <foreach collection="imgList" item="img" separator=",">
            #{imgCode}
            , #{originFileName}
            , #{attachedFileName}
            , #{userId}
        </foreach>
        )
    </insert>

    <!--회원 이미지 수정-->
    <update id="updateImgs">
        UPDATE USER_IMG
        SET
        ORIGIN_FILE_NAME = #{originFileName}
        , ATTACHED_FILE_NAME = #{attachedFileName}
        WHERE USER_ID = #{userId}
    </update>

    <!--로그인하려는 회원 정보 조회-->
    <select id="getUserForLogin" resultMap="user">
        SELECT USER_ID
        , USER_PW
        , USER_ROLE
        , USER_NAME
        , IS_USING
        FROM FARMSEYE_USER
        WHERE USER_ID = #{userId}
        AND IS_USING = 'Y'
    </select>

    <!--회원 정보 수정 시 중복 확인-->
    <select id="isUsable" resultMap="user">
        SELECT USER_ID
            , USER_PW
            , USER_TEL
            , USER_EMAIL
            , USER_ADDR
        FROM FARMSEYE_USER
        WHERE USER_ID = #{userId}
    </select>

    <!--회원 등록 시 중복 조회-->
    <select id="duplicateCheckUser" resultMap="user">
        SELECT USER_ID
            , USER_TEL
            , USER_EMAIL
            , USER_ADDR
        FROM FARMSEYE_USER
    </select>



</mapper>































